<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body
    class="min-h-screen bg-gradient-to-br from-65%% from-textMain-900 to-textMain-800 flex flex-col justify-between text-background-900 font-sans"
  >
    <div class="flex flex-col">
      <%- include('../partials/navbar.ejs') %>

      <main class="flex justify-center items-center flex-col gap-5 h-auto relative">
        <%- include('../partials/success.ejs') %> <%- body %>
      </main>
    </div>
    <%- include('../partials/disclaimer.ejs') %> 
    <script defer src="/js/toggleCollapse.js">
      
    </script>
  </body>
</html>
