<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body
    class="min-h-screen bg-gradient-to-br from-65%% from-textMain-900 to-textMain-800 flex flex-col justify-between text-background-900 font-sans"
  >
    <%- include('../partials/navbar.ejs') %>

    <main class="flex justify-center h-auto"><%- body %></main>
    <%- include('../partials/disclaimer.ejs') %> <%-
    include('../partials/footer.ejs') %>
  </body>
</html>
