<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body
    class="min-h-screen gap-y-5 <%= (url.includes("register") || url.includes("login")) ? "justify-center" : "" %> bg-white text-textMain-900  flex flex-col   font-sans"
  > 
    <%- (url.includes("register") || url.includes("login")) ? ""  : include("../partials/navbar.ejs") %>
    <main class="p-2   flex justify-between items-center flex-col gap-5">
      <%- include('../partials/success.ejs') %> <%- body %>
    </main>
    <%- include('../partials/sidebar.ejs') %>
    <script>
      function toggleCollapse(i) {
        const content = document.getElementById(`collapseExample${i}`);
        //content.classList.toggle("hidden")
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      }
    </script>
  </body>
</html>
