<% layout("layout/boilerplate.ejs") %>

  <section class="flex-col ">

    <h1 class="text-5xl text-center mb-4 " style="text-shadow: 4px 2px 10px rgba(255, 255, 255, 0.596);">
      <%= category.toUpperCase() %> Products!
    </h1>

    <main class="container px-5">
      <ul class="bg-secondary-300 rounded-sm" id="list-group">
        <% for(let product of products){ %>
          <li
            class="flex flex-wrap text-textMain-900  first:rounded-t-sm last:rounded-b-sm hover:bg-textMain-400 justify-between">
            <div class=" p-2 ps-4 w-[100%]">
              <a class="" href="/products/<%= product.id %>">
                <b class="hover:text-background-100">
                  <%= product.name %>:
                </b>
              </a>
              <a href="/products?category=<%= product.category %>">
                <span>
                  ~$<%= parseFloat(product.price.slice(0, 4)) * product.qty %>-<%=parseFloat(product.price.slice(5, product.price.length)) * product.qty %>, <%= product.category.toUpperCase() %>, <%= product.category.toUpperCase() %> 
                </span>
              </a>
              <span class="<%= product.buy === "on" ? "font-bold" : "font-light" %> ">
                <%= product.qty %> : <%= product.buy==="on" ? "Buy" : "Dont Buy" %>
              </span>
            </div>
            <div class="  flex p-2 w-[100%] justify-end">
              <div class="flex gap-1 ">
                <a href="/products/new/<%= product.id %>/edit" class="btn-edit">Edit</a>
                <form action="/products/<%= product._id %>?_method=DELETE" class=" p-0 fs-6 input-group-text"
                  method="post">
                  <button class="btn-delete">
                    Delete
                  </button>
                </form>
              </div>

            </div>
          </li>
          <% } %>
      </ul>

    </main>

    <div class="mt-auto px-5 text-2xl py-4">
      <div class="">
        <h3 class="display-6 main-text" >Average Total Cost: <span class="" id="total-cost"> ~$<%= sum %></span>
        </h3>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ()=>{
      setTimeout(() => {
  const cost = document.getElementById("total-cost");
  cost.classList.add("animate");

  setTimeout(() => {
    cost.classList.remove("animate");
  }, 350);
}, 200);
    })
  </script>